@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

@import url("https://fonts.googleapis.com/css?family=Urbanist:var(--h3-font-weight)");

:root {
  --drop-shadow: 10px 7px 48px 0px rgba(24, 24, 24, 1);
  --eye-borrow-font-family: "Inter Display", Helvetica;
  --eye-borrow-font-size: 14px;
  --eye-borrow-font-style: normal;
  --eye-borrow-font-weight: 300;
  --eye-borrow-letter-spacing: -0.42px;
  --eye-borrow-line-height: normal;
  --h1-font-family: "Inter Display", Helvetica;
  --h1-font-size: 64px;
  --h1-font-style: normal;
  --h1-font-weight: 400;
  --h1-letter-spacing: -0.64px;
  --h1-line-height: normal;
  --h2-font-family: "Inter Display", Helvetica;
  --h2-font-size: 48px;
  --h2-font-style: normal;
  --h2-font-weight: 400;
  --h2-letter-spacing: -0.96px;
  --h2-line-height: 57.099998474121094px;
  --h3-font-family: "Urbanist", Helvetica;
  --h3-font-size: 38px;
  --h3-font-style: normal;
  --h3-font-weight: 400;
  --h3-letter-spacing: 0px;
  --h3-line-height: 46px;
  --h4-font-family: "Inter Display", Helvetica;
  --h4-font-size: 32px;
  --h4-font-style: normal;
  --h4-font-weight: 400;
  --h4-letter-spacing: -0.32px;
  --h4-line-height: normal;
  --h5-font-family: "Inter Display", Helvetica;
  --h5-font-size: 24px;
  --h5-font-style: normal;
  --h5-font-weight: 500;
  --h5-letter-spacing: 0.24px;
  --h5-line-height: normal;
  --h6-font-family: "Inter Display", Helvetica;
  --h6-font-size: 20px;
  --h6-font-style: normal;
  --h6-font-weight: 400;
  --h6-letter-spacing: 0px;
  --h6-line-height: normal;
  --inner-shadow: ;
  --paragraph-large-font-family: "Inter Display", Helvetica;
  --paragraph-large-font-size: 24px;
  --paragraph-large-font-style: normal;
  --paragraph-large-font-weight: 400;
  --paragraph-large-letter-spacing: -0.24px;
  --paragraph-large-line-height: 140%;
  --paragraph-medium-font-family: "Inter Display", Helvetica;
  --paragraph-medium-font-size: 20px;
  --paragraph-medium-font-style: normal;
  --paragraph-medium-font-weight: 400;
  --paragraph-medium-letter-spacing: 0px;
  --paragraph-medium-line-height: 140%;
  --paragraph-small-font-family: "Inter Display", Helvetica;
  --paragraph-small-font-size: 18px;
  --paragraph-small-font-style: normal;
  --paragraph-small-font-weight: 400;
  --paragraph-small-letter-spacing: 0px;
  --paragraph-small-line-height: 140%;
  --paragraph-xsmall-font-family: "Inter Display", Helvetica;
  --paragraph-xsmall-font-size: 16px;
  --paragraph-xsmall-font-style: normal;
  --paragraph-xsmall-font-weight: 400;
  --paragraph-xsmall-letter-spacing: 0px;
  --paragraph-xsmall-line-height: 140%;
  --style: rgba(255, 255, 255, 1);
  --white: rgba(255, 255, 255, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
